<p id="alert"><%= alert %></p>
<div class="flex justify-center w-auto">
    <div class="pt-3 align-middle">
        <%= image_tag 'Logo.png', width: "25px", height: "25px" %>
    </div>
    <div class="align-middle">
        <h1 class="text-5xl">Signup</h1>
    </div>
</div>

<%= render 'form', user: @user %>
